SECRET_KEY=change-me
DEBUG=1
DB_NAME=dorixona
DB_USER=dorixona_user
DB_PASSWORD=1234
DB_HOST=localhost
REDIS_URL=redis://localhost:6379/0
TELEGRAM_BOT_TOKEN=8822789696:AAET-l3PZFeQRLGfMA-Yri_iGbwu2VlNBRU
BOT_SERVICE_TOKEN=uzun-maxfiy-token
API_URL=http://localhost:8000/api
